* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Inter, Helvetica, Arial, sans-serif;
}

body {
	background-color: #1e1d2a;
}
.btn {
	cursor: pointer;
	width: 200px;
	background-color: #ffffff00;
	color: white;
	border-radius: 5px;
	display: inline-block;
	padding: 12px;
	margin-top: 40px;
}
main {
	background: #232231;
}

/* header */

header {
	position: fixed;
	width: 100%;
	background-color: #1c1b27;
}

.container {
	max-width: 1200px;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
	flex-wrap: wrap;
	padding: 15px;
}
.grow {
	transition: all 0.2s ease-in-out;
	color: white;
}
.grow:hover {
	transform: scale(1.2);
	color: #b169fe;
}

.social-icons a {
	font-size: 20px;
	color: rgb(255, 255, 255);
	padding: 5px;
}

.menu-toggle ul li a {
	display: inline-block;
	padding: 10px 15px;
	text-decoration: none;
	color: #fff;
	border-radius: 5px;
}
#menu-hamburguer {
	display: none;
}
.menu-toggle.active {
	transform: translate(0);
}
.mobile-icons {
	display: none;
	font-size: 20px;
	color: rgb(255, 255, 255);
	padding: 5px;
	text-align: center;
}

.menu-toggle ul li a:hover {
	background: linear-gradient(#9234eb, #56198f);
	color: rgb(255, 255, 255);
	cursor: pointer;
}

.container nav ul {
	list-style: none;
	display: flex;
}
.container nav ul li {
	text-decoration: none;
	font-weight: bold;
	padding: 10px 5px 10px 5px;
	border-radius: 5px;
	font-size: 1rem;
}
.text-gradient {
	background: linear-gradient(to right, #33f9f9, #f194fd);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.logo {
	color: rgb(255, 255, 255);
	font-weight: bold;
	font-size: 1.3rem;
}

/* apresentacao */

.banner {
	max-width: 1200px;

	display: grid;
	grid-template-columns: 1fr 1fr;
	margin: auto;
	align-items: center;
	padding-top: 140px;
}

.before__name {
	font-size: 25px;
	background-color: #9234eb;
	display: inline-block;
	padding: 5px 15px;
	margin-bottom: 40px;
	color: white;
	border-radius: 0px 20px;
}
.after__name {
	display: block;
	font-size: 25px;
	font-weight: bold;

	padding-top: 5px;
	color: white;
}
.after__name::before {
	content: '';
	display: inline-block;
	width: 40px;
	height: 2px;
	margin-bottom: 6px;
	margin-right: 10px;
	background-color: rgb(147, 77, 207);
}

.apresentacao {
	padding: 0px 15px 0px 15px;
}

.apresentacao h1 {
	font-size: 70px;
	line-height: 1;
	font-weight: 800;
	margin-bottom: 15px;
	color: #ffffff;
}
.apresentacao__imagem {
	display: grid;
	place-items: center;
	padding: 15px;
}
.apresentacao__imagem img {
	max-width: 500px;
}
.btn-gradient-border {
	border: 2px double transparent;
	background-image: linear-gradient(#343060, #1e1d2a),
		radial-gradient(circle at left top, rgb(1, 110, 218), rgb(217, 0, 192));
	background-origin: border-box;
	background-clip: padding-box, border-box;
}
.btn__cv {
	margin-right: 20px;
}

.btn-gradient-border:hover {
	background-image: linear-gradient(#9234eb, #56198f);
}

/* seção sobre  */

.sobre__text h1 {
	font-size: 25px;
	background-color: #9234eb;
	display: inline-block;
	padding: 5px 15px;
	margin-bottom: 40px;
	color: white;
	border-radius: 0px 20px;
}

.container__sobre {
	max-width: 1200px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: auto;
	align-items: center;
}
.profile-image {
	display: flex;
	justify-content: center;
	width: 500px;
}
.profile-image img {
	box-shadow: -25px 25px #9234eb;
}
.sobre__text {
	width: 600px;

	color: white;
}

/* responsivo  */

@media (max-width: 815px) {
	body {
		overflow-x: hidden;
	}
	.mobile-icons {
		display: block;
	}
	.mobile-icons a {
		padding: 0px 5px;
	}
	.mobile-icons:hover {
		color: #b169fe;
	}

	.social-icons {
		display: none;
	}
	#menu-hamburguer {
		display: block;
		color: white;
		font-size: 20px;
		padding-right: 40px;
	}
	.menu-toggle {
		position: absolute;
		top: 55px;
		right: 0px;
		width: 70vw;
		height: 100vh;
		background: #292136;
		transform: translate(100%);
		transition: transform 0.3s ease-in;
	}

	.container nav ul {
		padding-top: 50px;
		padding-bottom: 50px;
		flex-direction: column;
		text-align: center;
	}
	.social-icons {
		text-align: center;
	}

	.banner {
		grid-template-columns: 1fr;
		text-align: center;
	}
	.apresentacao__imagem img {
		max-width: 300px;
	}
	.apresentacao__imagem {
		display: grid;
		place-items: center;
		padding: 50px 0px;
	}
	.apresentacao h1 {
		font-size: 50px;
		line-height: 1;
		font-weight: 800;
		color: #ffffff;
	}
	.after__name::after {
		content: '';
		display: inline-block;
		width: 40px;
		height: 2px;
		margin-bottom: 6px;
		margin-left: 10px;
		background-color: rgb(147, 77, 207);
	}
	.sobre__text {
		padding: 100px 40px 40px 40px;
		text-align: center;
	}

	.profile-image {
		padding-bottom: 80px;
		order: 2;
	}
	.profile-image img {
		width: 250px;
	}
}
@media (max-width: 460px) {
	.btn__cv {
		margin-right: 0px;
	}
	.btn {
		margin-top: 20px;
	}
	.after__name {
		padding-bottom: 25px;
	}
}
